<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="kayak">
	<listeners>
		<listener class-name="co.in.kayak.utils.Listeners"></listener>
	</listeners>
	<test name="FlightBooking">
		<parameter name="browserName" value="Chrome"></parameter>
		<classes>
			<class name="co.in.kayak.test.FlightBooking">
				<methods>
					<include name="flightBooking"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- FlightBooking -->
</suite> <!-- kayak -->